body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App */

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.main {
  position: relative;
  height: calc(100vh - 73px);
  pointer-events: none;
}

/* Header */

.header {
  padding-top: 4px;
  padding-bottom: 4px;
  color: #fff;
  background-color: #1c1a19;
}

.header__logo {
  flex-grow: 1;
}

.header__button {
  text-transform: none;
}

.header__button_active {
  color: #fdbf5a;
}

/* Button */

.btn {

}

.btn_active {
  color: #fdbf5a;
}

/* Login page */

.login-layout {
  width: '100%';
  overflow: 'hidden';
  min-height: '100%';
  position: 'relative';
  height: '100vh';
  display: 'flex';
}

.login-layout__left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34%;
  height: 100%;
  background-color: '#1c1a19';
}

.login-layout__right {
  position: relative;
  width: 66%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/images/bgr-map.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-layout__card {
  width: 520px;
  padding: 48px 0;
  border-radius: 20px;
}