body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* App */

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.wrapper__map {
  position: absolute;
  top: 73px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-image: url('./assets/images/bgr-map.jpg');
}

.main {
  position: relative;
  height: calc(100vh - 73px);
  pointer-events: none;
}

.main:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(28, 26, 25);
  opacity: 0.5;
}

.main__section {
  pointer-events: all;
}

.main__card {
  position: absolute;
  width: 802px;
  top: 50%;
  left: 50%;
  padding: 60px 44px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

/* Main form */

.main-form__wrapper {
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.main-form__container {
  margin-right: 100px;
}

.main-form__container label + .MuiInput-formControl {
  margin-top: 16px;
}

.main-form__items-two-col {
  display: flex;
}

.main-form__items-two-col .main-form__card-date {
  margin-right: 35px;
}

.main-form__btn-footer {
  display: flex;
  justify-content: center;
}

.main-form__submit-btn {
  width: 350px;
}

/* Header */

.header {
  padding-top: 4px;
  padding-bottom: 4px;
  color: #fff;
  background-color: #1c1a19;
}

.header__logo {
  flex-grow: 1;
}

.header__button a:-webkit-any-link {
  color: inherit;
  cursor: inherit;
  text-decoration: inherit;
}

.header__button a.header__link_active {
  color: #fdbf5a;
}

/* Login page */

.login-layout {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  overflow: hidden;
}

.login-layout__left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34%;
  height: 100%;
  background-color: #1c1a19;
}

.login-layout__right {
  width: 66%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/images/bgr-map.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-layout .login-layout__card {
  width: 520px;
  padding: 48px 0;
  border-radius: 20px;
}

/* Login Form */

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px 0 98px;
}

.form__container {
  margin-bottom: 24px;
}

.form__items-two-col {
  display: flex;
  justify-content: space-between;
}

.form__wrapper .form__submit-btn {
  margin-top: 72px;
}

.form__items-divider {
  min-width: 8px;
}

.form__footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form__footer-link {
  text-decoration: none;
  color: #fdbf5a;
  cursor: pointer;
}

/* Map */

.map__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.map__map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Credit card */

.credit-card__paper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 347px;
  height: 182px;
  padding: 18px 28px;
  border-radius: 10px;
}

.credit-card__paper .credit-card__number {
  font-size: 22px;
  line-height: 1.2;
}

.credit-card__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.credit-card__mc-logo {
  display: flex;
  width: 38px;
  height: 28px;
}

.credit-card__mc-logo:before,
.credit-card__mc-logo:after {
  content: '';
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 50%;
  mix-blend-mode: multiply;
  background-color: #f1f1f1;
}

.credit-card__mc-logo:after {
  margin-left: -10px;
}

.credit-card__logo {
  width: 34px;
  height: 34px;
  background-image: url('./assets/images/loft-card.png');
  background-size: 34px 34px;
}

.credit-card__chip {
  width: 29px;
  height: 26px;
  background-image: url('./assets/images/chip.png');
  background-size: 29px 26px;
}
